       *{
        margin: 0;
        padding: 0;
       } body{
            width: 100%;
            background-color: rgb(68, 0, 42);
            font-family: "Workbench", sans-serif;
            height: 2000px;
        }
        h2{
            background-color: rgb(15, 139, 15);
            color: blue;
        }
        .main-content{
            width: 70%;
            float: left;
            padding: 10px;
            
        }
        .elif{
            color: rgb(166, 83, 166);
        }
        .yellow{
            float: left;
        }
        h1{
            font-size: 50px;
            border: 50px solid rgb(0, 62, 70);
            

        }
       .ii{
        width: 10%;
       }
.links{
    border: 5px solid rgb(111, 8, 213);
    display: flex;
    justify-content: flex-end;
}
.login{
    margin-left: 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.sabit{
    position: fixed;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100wh;
    
}
.flex-item{
    flex: 0 1 auto;
    align-self: center;
    order: 2;
}
.header-container{
    color:rgb(226, 43, 43);
    background-color: bisque;
    display: flex;
    justify-content: center;
}
.header{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo-grid-container{
    display: flex;
    justify-content: center;
}
.photo-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
}
