*{
    margin: 0;
    padding: 0;

    } 


    body, html {
      height: 100%;
    
    
    
      .dark-mode {
        background-color:rgb(16, 44, 87);

        h2, h3{
          color:rgb(218, 192, 163);
          display: flex;
          flex-wrap: wrap;
   
    }

    h2{
        font-size: 30px;
        padding-bottom: 2%;
        padding-top: 1%;
     
      
    }

    h3{
        font-size: 25px;
        padding-bottom: 11%;
     
         
          }

          #k {
            color: rgb(218, 192, 163);
          }

          a{
            color:rgb(234, 219, 200);
            text-decoration-line: none
        }
        a:hover{
          color:rgb(218, 192, 163);
        }

        h1{
          color:rgb(234, 219, 200);
          font-size: 60px;
          position: fixed;
          padding-left: 3.5%;
          padding-top: 1%;
          z-index: 99;
          
        }

        h4{
         
          color: rgb(218, 192, 163);
       
      }
  
      h5{
    
          color:rgb(218, 192, 163);
        
      }

      .flex-item{
        color: rgb(234, 219, 200);
   
       
    }

    
    }}


    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgb(234, 219, 200);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:rgb(218, 192, 163);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:rgb(234, 219, 200);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(218, 192, 163);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  
    body{
        width: 100vw;
        background-color: rgb(254, 250, 246);
        font-family: "Source Serif 4", serif;
        width: 100dwv;
        overflow-x: hidden;
 
      }

      body::-webkit-scrollbar {
        width: 8px;               /* width of the entire scrollbar */
      }
      
      body::-webkit-scrollbar-track {
        background: rgb(234, 219, 200);        /* color of the tracking area */
      }
      
      body::-webkit-scrollbar-thumb {
        background-color:rgb(218, 192, 163);    /* color of the scroll thumb */
        border-radius: 0px;       /* roundness of the scroll thumb */
        border: 0px solid rgb(234, 219, 200);  /* creates padding around scroll thumb */
      }

      h1{
        color:rgb(218, 192, 163);
        font-size: 60px;
        position: fixed;
        padding-left: 3.5%;
        padding-top: 1%;
        z-index: 99;
        
      }

    #k {
      color: rgb(16, 44, 87);
    }

        .about{
           font-size:25px ;
           position: fixed;
           right: 3.5%;
           top:2% ;
        
        }

        .flex-container{
         
          display: flex;
          flex-direction: row;
          justify-content:space-between;
          align-items:center;
          height: 100wh;
          padding-top: 10%;
          padding-left: 8%;
          padding-right: 8%;
          
      }
      .flex-item{
          flex: 0 1 auto;
          align-self: center;
          order: 2;
          color:rgb(218, 192, 163) ;
          font-size: 25px;
         
      }

      .photo-grid-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: rgb(218, 192, 163);
       padding-top: 10%;

    }
    .photo-grid {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        
       
    }

.photo-grid-item {
    display: flex;
  width: 33.333%;
  object-position: top;
  object-fit: scale-down;


  
}

.photo-grid-item1 {
  display: flex;
width: 33.333%;
object-position: top;
object-fit: scale-down;
overflow: hidden;
aspect-ratio: 1;


}

.photo-grid-item1 img:hover{
  transform:translate(0, -50%);

}


.photo-grid-item1 img{
  max-width: 100%;
}

.photo-grid-item img{
    max-width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;

}

.header-container{
    padding-top: 1%;
    padding-bottom: 5%;
   
}

a{
    color:rgb(218, 192, 163);
    text-decoration-line: none
}
a:hover{
  color:rgb(234, 219, 200);
}

.inline{
    display: inline;
    font-size: 22px;
    padding-bottom: 3%;
    padding-top: 5%;
  }

  .menu{
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    padding-right: 4%;
    padding-top: 1.5%;
  }

  .flex{
    display: flex;
  }

  .padding-about{
    padding-right: 4%;
    padding-top: 1.5%;
  }

  h2, h3{
    color: rgb(16, 44, 87);
    display: flex;
    flex-wrap: wrap;
   
    }

    h2{
        font-size: 30px;
        padding-bottom: 2%;
        padding-top: 1%;
     
      
    }

    h3{
        font-size: 25px;
        padding-bottom: 11%;
     
      
    }  

    .container{
        padding-left: 15%;
        padding-right: 20%;
        padding-top: 10%;
        padding-bottom: 9%;
        
    }

    h4{
        font-size: 35px;
        color: rgb(16, 44, 87);
     
    }

    h5{
        font-size: 33px;
        color: rgb(16, 44, 87);
      
    }



.circle {
  border: 2px solid rgb(218, 192, 163);
  border-radius: 50%;
 /* box-shadow: 0 0 10px rgb(255, 0, 0);*/
  pointer-events: none;
  position: fixed;
  top: -10rem;
  left: -10rem;
  height: 2rem;
  width: 2rem;
  transition: transform 0.4s, background 0.4s;
}





/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(16, 44, 87); /* Fallback color */
  background-color: rgb(16, 44, 87); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
 
}
.modal-content {
  position: relative;

  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  height: calc(100vh - 120px) ;
}



.modal-cont {


  padding: 0;
  width: 90%;
  max-width: 1200px;
  height: calc(100vh - 120px) ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color:rgb(246, 0, 0);
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: rgb(234, 219, 200);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: rgb(218, 192, 163);
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}









/* Create four equal columns that floats next to eachother */
.column1 {
  float: left;
  width: 33.33333%;
  aspect-ratio: 1.4;
  overflow: hidden;
}
.column12 {
  float: left;
  width: 33.33333%;
  aspect-ratio: 0.6;
  overflow: hidden;
}

.column2 {
  float: left;
  width: 33.33333%;
  aspect-ratio: 0.72;
  overflow: hidden;
}

.column {
  float: left;
  width: 33.33333%;
  aspect-ratio: 0.6;
  overflow: hidden;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:rgb(16, 44, 87);
}

/* Modal Content */


/* The Close Button */
.close {
  color: rgb(234, 219, 200);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:rgb(218, 192, 163);
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color:rgb(234, 219, 200);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color:rgb(218, 192, 163);
}

/* Number text (1/3 etc) */
.numbertext {
  color:  rgb(234, 219, 200);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.flexmodal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);height: calc(100vh - 120px) ;
}
